<html>
<head>
	<link href="{{ asset('css/app.css') }}" rel="stylesheet" />
</head>
<body>
	<h1>ALL YOUR BASE</h1>
	{% block message %}
	{% endblock message %}

	<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
